{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
    <title>Password reset sent | Bazm-e-BME</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="login-section-background">
      <div class="login-page"></div>
      <div class="login-page"></div>
    </div>
    <div class="login-form">
      {% csrf_token %}
      <h2>Password reset sent</h3>
      <p class="email-reset-message">
        We’ve emailed you instructions for setting your password.
      </p>
      <p class="email-reset-instructions">
        If you don’t receive an email, please make sure you’ve entered the
        address you registered with, and check your spam folder.
      </p>
    </div>
  </body>
</html>
