{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Design by foolishdeveloper.com -->
  <title>Log in | Bazm-e-BME </title>
  <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->

</head>

<body>
  <div class="login-section-background">
    <div class="login-page"></div>
    <div class="login-page"></div>
  </div>
  <form class="login-form signup-form" method="post">
    {% csrf_token %}
    <h3>Create Your Account</h3>
    {% for field in form %}
    <div class="input-field">
      <label class="sign-up-label" for={{ field.name }}>{{field.label}}</label>
      {{ field }}
      {% if field.errors %}
        <div class="field-error">{{ field.errors }}</div>
      {% endif %}
    </div>
    {% endfor %}

    <button class="login-button" type="submit">Sign up</button>
    <div class="sign-up-social">
      <p>Already have an Account? <a href="{% url 'login' %}">Log in</a></p>
      <h2 class="login-page-link-text"></h2>
    </div>
    <div class="login-social-account">
      {% load socialaccount %}
      <a class="login-button" href="{% provider_login_url 'google' %}?next=/">Continue with Google</a>
    </div>
  </form>
</body>
</html>