{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title %}{% endblock title %}
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
  {% block css %}{% endblock css %}
</head>

<body>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}

  {% block body %}

{% endblock %}

<footer class="footer-section">
  <div class="rights-container">
    <p>Copyright © 2024 - bazmisp.</p>
  </div>
</footer>
  
{% block js %}{% endblock js %}
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>